## Settings file was created by plugin Advanced Boating v0.3
## Plugin GUID: pfhoenix.advancedboating

[Rowing]

## Rowers must be seated on a ship to contribute to rowing speeds
# Setting type: Boolean
# Default value: true
RequireSeatedRowers = true

## Rowers must be attached to a ship to contribute to rowing speeds
# Setting type: Boolean
# Default value: true
RequireAttachedRowers = true

## The rowing amount each rower contributes. Value is a multiplier of the base rowing speed.
# Setting type: Single
# Default value: 1
RowingStrengthPerRower = 1

## The base strength of the rowing for the boat driver
# Setting type: Single
# Default value: 1
BaseRowingPower = 1

